<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= nft.name %></h1>
            <hr>
            <div class="image">
                <img src="<%= nft.imageUrl %>" alt="<%= nft.title %>">
            </div>
            <h2><%= nft.price %></h2>
            <p><%= nft.description %></p>
        </main>
        <%- include('../includes/end.ejs') %>